[SALESFORCE_CONFIG]
# Salesforce instance URL. For example: https://test.salesforce.com/services/oauth2/token for sandbox
sf_instance_url = https://test.salesforce.com/services/oauth2/token

# Salesforce username that can access the data
sf_username = knowlandpreprod@conga.com

# Password
sf_password = pB^18F@cTKgrv9E

# Security Token
sf_security_token = nX9M3szAdxsp5KJpI7J1fjMO

# Default value: 1800
sf_token_validity_in_seconds = 1800

[OtherSection]


